@import "../../sass/vars";

.cart-route {
  color: $textcolor2;
  width: 100%;
  overflow: hidden;
  min-height: 90vh;
}

.cart-header {
  @include flex-row();
  background-color: $header;
  font-size: 44px;
  height: 20vh;
}

.cart-display {
  @include flex-column();
}

.checkout-product-card {
  margin-top: 20px;
  @include flex-column(flex-start);
  height: 350px;
  width: 90vw;
  //   overflow: hidden;
  img {
    height: 150px;
  }
  section {
    @include flex-row(space-between, center);
    padding-left: 30px;
    padding-right: 30px;
    width: 90vw;
    height: 60px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
  }
  h5 {
    height: 30px;
    @include flex-row();
    font-size: 18px;
  }
  h6 {
    @include flex-row();
    height: 30px;
    margin-left: 20px;
    font-size: 20px;
  }
  p {
    margin-top: 15px;
    @include flex-row();
    font-size: 18px;
    height: 30px;
    margin-right: 90px;
  }
  button {
    margin-top: 15px;
  }
}
.checkout-final {
  margin-top: 20px;
  @include flex-column(flex-start);
  height: 150px;
  section {
    p {
      font-size: 24px;
    }
  }
}
.cart-total-price {
  color: $secondary;
  font-weight: bold;
}
.checkout-button {
  width: 300px;
}
//TABLET MEDIA QUERY ==========================================================
@media (min-width: 680px) {
}

//PC MEDIA QUERY===============================================================
@media (min-width: 960px) {
  .cart-route {
    width: 100%;
    overflow: hidden;
    min-height: 90vh;
  }

  .cart-header {
    @include flex-row();
    font-size: 44px;
    height: 20vh;
  }

  .cart-display {
    @include flex-column(flex-start);
  }

  .checkout-product-card {
    margin-top: 20px;
    @include flex-row(flex-start);
    height: 250px;
    width: 90vw;
    img {
      height: 225px;
      width: 200px;
    }
    section {
      @include flex-column(space-between, center);
      padding-left: 30px;
      padding-right: 30px;
      width: 90vw;
      height: 225px;
      border-style: solid;
      border-bottom: solid;
      border-left: none;
      border-color: $light;
      border-width: 0.25px;
    }
    h5 {
      height: 75px;
      @include flex-row();
      font-size: 22px;
    }
    h6 {
      @include flex-row();
      margin-left: 0px;
      font-size: 22px;
      height: 75px;
    }
    p {
      @include flex-row();
      margin-top: 0px;
      font-size: 22px;
      height: 75px;
      margin-right: 0px;
    }
    button {
      position: relative;
      top: 10vh;
      right: 100px;
      margin-top: 0px;
    }
  }
  .desktop-divider {
    height: 1vh;
    background-color: $info;
    width: 300px;
    border-radius: 10px;
  }
  .checkout-final {
    margin-top: 0px;
    margin-bottom: 10px;
    @include flex-column(flex-start);
    height: 150px;

    section {
      p {
        font-size: 24px;
      }
    }
  }
  .cart-total-price {
    font-weight: bold;
  }
  .checkout-button {
    width: 300px;
  }
}
