$primary: #026aa7;
$secondary: #e5b87d;
$light: #373760;
$background: #181735;
$header: #0e102b;
$info: #f5678a;
$success: #3dddc2;
$danger: rgba(221, 32, 32, 0.966);
$textcolor1: black;
$textcolor2: white;

$font1: "Candara", sans-serif;
$font2: "Lora", serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

@mixin flex-row($j: space-around, $a: center) {
  display: flex;
  flex-direction: row;
  justify-content: $j;
  align-items: $a;
}

@mixin flex-column($j: space-around, $a: center) {
  display: flex;
  flex-direction: column;
  justify-content: $j;
  align-items: $a;
}
