@import "../../sass/vars";

.product-card {
  margin-top: 2vh;
  transition: 0.5s ease;
  margin: 30px;
  color: $textcolor3;
  img {
    cursor: pointer;
  }
}
.product-card:hover {
  // transform: scale(1.003);
  background-color: rgb(223, 221, 221);
}
.products-button {
  margin-left: 1vw;
}
.boot-card-body {
  @include flex-column(flex-start);
  height: 200px;
  margin-left: 0.5px;
  width: 317px;
  overflow: hidden;
}
.boot-card-name {
  height: 50px;
  width: 200px;
  overflow: hidden;
}
.text-bold {
  font-size: bold;
}
// .card:hover {
//   transform: scale(1.15);
//   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
// }
// .card {
//   ...transition: 0.5s ease;
//   cursor: pointer;
//   margin: 30px;
// }
