@import "./../../sass/vars";

.center-newsletter {
  background-color: $primary;
  @include flex-column(center, center);
}
.newsletter-header {
  background-color: $primary;
  position: absolute;
  top: 9vh;
  width: 100%;
  height: 5vh;
  @include flex-row();
}
.blog-box {
  margin-top: 4vh;
  margin-bottom: 3vh;
}

@media (min-width: 680px) {
  .blog-box {
    @include flex-row(center, center);
    width: 85vw;
    flex-wrap: wrap;
  }
  .spread-grow {
    margin-left: 2vw;
  }
}

@media (min-width: 980px) {
}
