@import "../../sass/vars";

.review-center {
  @include flex-column();
  z-index: 6;
}

.review-box {
  @include flex-column();
  width: 90vw;
  height: 280px;
  border-radius: 25px;
  margin-top: 4vh;
  box-shadow: -0.25px -0.5px 1px 0.5px $background;
  color: $textcolor2;
  padding: 10px 10px 10px 10px;
}

.light-box {
  background-color: $light;
}

.info-box {
  background-color: $info;
}

.success-box {
  background-color: $success;
}

@media (min-width: 680px) {
  .review-box {
    width: 55vw;
    height: 225px;
    border-radius: 20px;
    margin-top: 4vh;
  }
}

@media (min-width: 980px) {
  .review-center {
    @include flex-row();
  }

  .review-box {
    width: 30vw;
    height: 280px;
    border-radius: 20px;
    margin-top: 4vh;
    margin-left: 2vw;
    overflow: hidden;
  }
}
