@import "../../sass/vars";

.subscribe-outer-div {
  padding-top: 16px;
  h6 {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: $info;
  }
  p {
    font-size: 12px;
  }
  z-index: 6;
  background-color: $background;
  width: 100%;
  color: $textcolor2;
}
