@import "../../../sass/vars";

.image-flipper {
  margin-top: 3vh;
  height: 50vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  @include flex-column(center);
}
.main-btn {
  @include flex-row();
  border: 2px solid #3dddc2;
  color: #3dddc2;

  border-radius: 3px;
  height: 50px;
  width: 160px;
  margin-top: 10vh;
  a {
    text-decoration: none;
    color: #3dddc2;
    font-weight: bold;
  }
}

.main-btn:hover {
  background-color: #3dddc2;
  a {
    color: white;
  }
}

.img-flip-text-box {
  font-size: 24px;
  width: 40vw;
  background-color: none;
  font-weight: bolder;
  color: black;
  opacity: 75%;
  border-radius: 20px;
}

@media (min-width: 680px) {
  .image-flipper {
    height: 60vh;
  }
}

@media (min-width: 960px) {
  .image-flipper {
    height: 70vh;
  }
  .main-btn {
    width: 14vw;
  }
}
