.flex-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-box {
  margin-top: 5vh;
  min-height: 55vh;
  width: 80vw;
  background-color: #dbad6a;
  border-radius: 20px;
}

.contact-box h5 {
  margin-top: 10px;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  height: 7vh;
  width: 100vw;
  background-color: #96897b;
  font-family: "Candara", sans-serif;
}

@media (min-width: 680px) {
  .flex-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-box {
    margin-top: 5vh;
    min-height: 55vh;
    max-height: 90vh;
    width: 80vw;
    background-color: #dbad6a;
    border-radius: 20px;
  }
  .contact-box h5 {
    margin-top: 10px;
  }
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    height: 7vh;
    width: 100vw;
    background-color: #96897b;
    font-family: "Candara", sans-serif;
  }
}

@media (min-width: 980px) {
  .flex-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-box {
    margin-top: 5vh;
    min-height: 70vh;
    max-height: 90vh;
    width: 40vw;
    background-color: #dbad6a;
    border-radius: 20px;
  }
  .contact-box h5 {
    margin-top: 10px;
  }
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    height: 7vh;
    width: 100vw;
    background-color: #96897b;
    font-family: "Candara", sans-serif;
  }
}
/*# sourceMappingURL=Contact.css.map */