@import "../../sass/vars";

.flex-contact {
  @include flex-column(flex-start, center);
  min-height: 90vh;
  font-family: $font1;
}

.contact-box {
  margin-top: 5vh;
  min-height: 55vh;
  width: 90vw;
  background-color: $light;
  border-radius: 20px;
  input {
    border-radius: 5px;
    padding-top: 1px;
    background-color: $light;
    color: $textcolor2;
  }
  input:focus {
    outline: none;
    background-color: white;
    color: $textcolor1;
  }
  textarea {
    border-radius: 5px;
    padding-top: 1px;
    background-color: $light;
    color: $textcolor2;
  }
  textarea:focus {
    outline: none;
    background-color: white;
    color: $textcolor1;
  }
  h5 {
    color: $textcolor2;
    margin-top: 10px;
  }
}
.contact-header {
  @include flex-column();
  font-size: 30px;
  height: 7vh;
  width: 98.8vw;
  background-color: $light;
  font-family: $font1;
  color: $textcolor3;
}

@media (min-width: 680px) {
  .flex-contact {
    @include flex-column(flex-start, center);
  }

  .contact-box {
    margin-top: 5vh;
    min-height: 55vh;
    max-height: 90vh;
    width: 80vw;
    border-radius: 20px;
    h5 {
      margin-top: 10px;
    }
  }
  .contact-header {
    @include flex-column();
    font-size: 30px;
    height: 7vh;
  }
}

@media (min-width: 980px) {
  .flex-contact {
    @include flex-column(flex-start, center);
  }

  .contact-box {
    margin-top: 5vh;
    min-height: 60vh;
    max-height: 200vh;
    width: 40vw;
    border-radius: 20px;
    h5 {
      margin-top: 10px;
    }
  }
  .contact-header {
    @include flex-column();
    font-size: 30px;
    height: 7vh;
    font-family: $font1;
  }
}
