.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  height: 10vh;
  font-family: "Candara", sans-serif;
}

.header span {
  color: white;
  margin-left: 3vh;
  font-size: 32px;
  font-weight: bold;
}

.header img {
  height: 30px;
  width: 30px;
  margin-right: 3vh;
}

.meteor-header {
  text-decoration: none;
  color: white;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e4c2c6;
  position: absolute;
  top: 9.8vh;
  width: 100vw;
  max-height: 50vh;
  overflow: hidden;
  z-index: 1;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 24px;
}

.nav-bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  height: 5vh;
  width: 100vw;
  height: 8vh;
  border: solid;
  border-bottom: none;
  border-color: #e4c2c6;
  border-width: thin;
}

.hide-nav {
  min-height: 0vh;
  max-height: 0vh;
}

@media (min-width: 680px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    height: 10vh;
    font-family: "Candara", sans-serif;
  }
  .header span {
    color: black;
    margin-left: 5vh;
    font-size: 28px;
  }
  .meteor-header {
    text-decoration: none;
    color: white;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 9.8vh;
    width: 100vw;
    max-height: 30vh;
    overflow: hidden;
    z-index: 1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 14px;
  }
  .nav-bar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    height: 2vh;
    width: 100vw;
    height: 4vh;
  }
  .hide-nav {
    min-height: 0vh;
    max-height: 0vh;
  }
}

@media (min-width: 960px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: row;
    height: 10vh;
    font-family: "Candara", sans-serif;
  }
  .header span {
    color: black;
    margin-left: 3vh;
  }
  .header img {
    height: 0.001px;
    width: 0.001px;
    margin-right: 3vh;
  }
  .meteor-header {
    text-decoration: none;
    color: white;
  }
  .hide-nav {
    height: 0vh;
  }
  .desktop-nav {
    margin-left: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: none;
    position: static;
    top: 0;
    width: 0;
    height: 0;
    overflow: visible;
  }
  .desktop-nav a {
    margin-top: 2vh;
    margin-left: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    width: 5vw;
    height: 0;
    border: none;
    border-bottom: none;
    border-color: #e4c2c6;
    border-width: thin;
  }
}
/*# sourceMappingURL=Header.css.map */