@import "../../sass/vars";
// linear-gradient(orange, purple);

.header {
  @include flex-row(space-between, center);
  flex-direction: row-reverse;
  height: 10vh;
  background-color: $header;
  img {
    height: 30px;
    width: 30px;
    margin-right: 3vh;
  }
}

.meteor-header {
  text-decoration: none;
  color: $textcolor2;
  margin-left: 3vh;
  font-size: 32px;
  font-weight: bold;
}

.meteor-header:hover {
  text-decoration: none;
}

.nav-bar {
  @include flex-column(flex-start, center);
  position: absolute;
  top: 9vh;
  width: 100vw;
  min-height: 20vh;
  max-height: 50vh;
  overflow: hidden;
  z-index: 15;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 20px;
  background-color: $background;
  transition: 0.5s ease-in;
  a {
    @include flex-row(center, center);
    text-decoration: none;
    color: $textcolor2;
    width: 100vw;
    // height: 8vh;
    border: solid;
    border-top: solid;
    border-color: $info;
    border-width: thin;
  }
  a:hover {
    text-decoration: underline;
  }
}

.hide-nav {
  min-height: 0vh;
  max-height: 0vh;
}

//TABLET MEDIA QUERY
@media (min-width: 680px) {
  .header {
    @include flex-row(space-between, center);
    flex-direction: row-reverse;
    height: 10vh;
    span {
      margin-left: 5vh;
      font-size: 28px;
    }
  }

  .meteor-header {
    text-decoration: none;
  }

  .nav-bar {
    @include flex-column(flex-start, center);
    position: absolute;
    top: 9.8vh;
    width: 100vw;
    max-height: 55vh;
    overflow: hidden;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 24px;
    a {
      @include flex-row(center, center);
      text-decoration: none;
      height: 2vh;
      width: 100vw;
      height: 7vh;
    }
  }

  .hide-nav {
    min-height: 0vh;
    max-height: 0vh;
  }
}
//LAPTOP DESKTOP MEDIA QUERY
@media (min-width: 960px) {
  .header {
    @include flex-row(space-between, center);
    flex-direction: row;
    height: 10vh;
    span {
      margin-left: 3vh;
    }
    img {
      height: 0.001px;
      width: 0.001px;
      margin-right: 3vh;
    }
  }

  .meteor-header {
    text-decoration: none;
  }

  .hide-nav {
    height: 0vh;
  }
  .desktop-nav {
    margin-left: 150px;
    @include flex-row(flex-start, flex-start);
    background-color: none;
    position: relative;
    top: 0;
    height: 0;
    overflow: visible;
    margin-bottom: 35px;
    a {
      @include flex-row(center, flex-end);
      font-size: 14px;
      margin-left: 5px;
      text-decoration: none;
      width: 75px;
      height: 50px;
      border: none;
      border-bottom: none;
      border-radius: 20px;
    }
    a:hover {
    }
  }
}
