@import "./../../sass/vars";

.auth-big-daddy {
  @include flex-column(flex-start);
  //   background-color: $primary;
  min-height: 85vh;
  max-height: 120vh;
  color: $textcolor2;
}

.auth-box {
  @include flex-column(center, center);
  font-size: 15px;
  background-color: $light;
  margin-top: 5vh;
  min-height: 30vh;
  max-height: 100vh;
  width: 75vw;
  box-shadow: -0.5px 0.5px 0.5px 0.5px $primary;
  border-radius: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  h5 {
    margin-top: 3vh;
  }
  input {
    margin-top: 5vh;
  }
}

//TABLET MEDIA QUERY
@media (min-width: 780px) {
  .auth-box {
    @include flex-column(center, center);
    font-size: 15px;
    margin-top: 5vh;
    min-height: 30vh;
    max-height: 80vh;
    width: 40vw;
    border-radius: 15px;
  }
}

//PC MEDIA QUERY
@media (min-width: 960px) {
  .auth-box {
    @include flex-column(center, center);
    overflow: hidden;
    font-size: 15px;
    margin-top: 5vh;
    min-height: 400px;
    max-height: 1000px;
    width: 40vw;
    border-radius: 15px;
  }
}
